# TAB键的使用

In [1]:
import datetime
an_apple = 27
an_example = 42
b = [1,2,3]

In [ ]:
an #+tab
b. #+tab
datetime. #+tab

# 内置方法

In [ ]:
b?

In [ ]:
print?

In [2]:
def add_numbers(a , b):
    return a + b

In [ ]:
add_numbers??

In [3]:
import numpy as np

In [ ]:
np.*load*?

%run等同于IDLE的SHELL中run命令

In [4]:
def f(x, y, z):
    return (x + y) / z

a = 5
b = 6
c = 7.5

result = f(a, b, c)

In [1]:
%run ipython_script_test.py

```python
>>> %load ipython_script_test.py

    def f(x, y, z):
        return (x + y) / z

    a = 5
    b = 6
    c = 7.5

    result = f(a, b, c)
```

In [5]:
result

1.4666666666666666

# 魔法方法magic commands

In [6]:
a = np.random.randn(100,100)

In [7]:
%timeit np.dot(a,a)

44.9 µs ± 5.95 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [9]:
%debug?

In [11]:
foo = %pwd
foo

In [13]:
%matplotlib
%matplotlib inline

Using matplotlib backend: Qt5Agg

# python语言特点
## 直接定义，无需声明

In [17]:
array = range(10)
pivot = 4
less = []
greater = []
for x in array:
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)

In [19]:
pivot?
less?

# 万物皆为对象

```python
#读取文件中每一行，并替换当中的某个字段
results = []
for line in file_handle:
    # keep the empty lines for now
    # if len(line) == 0:
    #   continue
    results.append(line.replace('foo', 'bar'))
```

## 变量及参数传递

In [27]:
a = [1,2,3]
b = a.copy()
c = a
a.append(4)
print(a,b,c)

[1, 2, 3, 4] [1, 2, 3] [1, 2, 3, 4]

In [28]:
def append_element(some_list, element):
    some_list.append(element)

In [29]:
append_element(a,5)
a

[1, 2, 3, 4, 5]

## 动态引用，强类型定义

In [31]:
a = 5
type(a)

int

In [32]:
a = 'foo'
type(a)

str

In [33]:
'5' + 5

TypeError: can only concatenate str (not "int") to str

In [35]:
a = 4.5
b = 3
print('a is {}, b is {}'.format(type(a),type(b)))

a is <class 'float'>, b is <class 'int'>

In [36]:
a = 5
isinstance(a, int)

True

In [37]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

### string方法
```python
In [1]: a = 'foo'

In [2]: a.<Press Tab>
a.capitalize  a.format      a.isupper     a.rindex      a.strip
a.center      a.index       a.join        a.rjust       a.swapcase
a.count       a.isalnum     a.ljust       a.rpartition  a.title
a.decode      a.isalpha     a.lower       a.rsplit      a.translate
a.encode      a.isdigit     a.lstrip      a.rstrip      a.upper
a.endswith    a.islower     a.partition   a.split       a.zfill
a.expandtabs  a.isspace     a.replace     a.splitlines
a.find        a.istitle     a.rfind       a.startswith
```

In [39]:
a = 'foo'

In [41]:
getattr(a,'split') #返回一个对象属性值

### 鸭子类型duck typing
对象的类型不再由继承等方式决定，而由实际运行时所表现出的具体行为来决定

In [49]:
for i in iter('a string'):
    print(i, end='--',)

a-- --s--t--r--i--n--g--

In [50]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [51]:
isiterable('a string')

True

In [52]:
isiterable([1, 2, 3])

True

In [53]:
isiterable(5)

False

## imports 导入
```python
# some_module.py
PI = 3.14159

def f(x):
    return x + 2

def g(a, b):
    return a + b
```

In [57]:
import some_module
pi = some_module.PI
some_module.f(pi)

5.14159

In [59]:
from some_module import *
PI

3.14159

In [62]:
from some_module import g as smg
smg(pi,6)

9.14159

## 二元操作及比较

In [67]:
5-7,12+21.5,5<=2

(-2, 33.5, False)

In [70]:
a = [1, 2, 3]
b = a
c = list(a)
d = a.copy
a is b, a is c, a != d

(True, False, True)

In [71]:
a = None
a is None

True

## 可变与不可变对象

In [78]:
a_list = ['foo', 2 ,4, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4), [4, 5]]

In [79]:
a_list[2][1] = 30

TypeError: 'tuple' object does not support item assignment

In [80]:
a_list[3][1] = 30

In [81]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

## 标量类型 scalar types
整数类型、浮点类型、物理类型和枚举类型

In [87]:
#数值
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [83]:
fval = 7.243
fval2 = 6.78e-5

In [84]:
3/2

1.5

In [85]:
divmod(5,2)

(2, 1)

In [88]:
# string
c = """
This is a longer string that
spans multiple lines
"""

In [89]:
c.count('\n')

3

In [92]:
a = 'this is a string'
a[10] = 'f'

TypeError: 'str' object does not support item assignment

In [99]:
a_list = list(a)
a_list[10] = 'f'
"".join(a_list)

'this is a ftring'

In [91]:
b = a.replace('string', 'longer string')
b

'this is a longer string'

In [100]:
a = 5.6
s = str(a)
print(s)

5.6

In [101]:
s + 's'

'5.6s'

In [102]:
s = '12\\34'
print(s)

12\34

In [103]:
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

In [104]:
a = 'this is the first half '
b = 'and this is the second half'
a + b

'this is the first half and this is the second half'

In [107]:
template = '{0:.2f} {1:s} are worth US${2:d}'
template.format(6.9187, 'RMB', 1)

'6.92 RMB are worth US$1'

## 编码类型

In [108]:
val = "español"
val

'español'

In [109]:
val_utf8 = val.encode('utf-8')
val_utf8
type(val_utf8)

bytes

In [110]:
val_utf8.decode('utf-8')

'español'

In [112]:
val.encode('latin1')

b'espa\xf1ol'

In [113]:
val.encode('utf-16')

b'\xff\xfee\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [114]:
val.encode('utf-16le')

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [115]:
bytes_val = b'this is bytes'
bytes_val
decoded = bytes_val.decode('utf8')
decoded  # this is str (Unicode) now

'this is bytes'

## 类型强转

In [120]:
s = '3.14159'
fval = float(s)
type(fval)

float

In [121]:
int(fval)

3

In [122]:
bool(fval)

True

In [123]:
bool(0)

False

In [124]:
type(None)

NoneType

In [125]:
a = None
a is None

True

## 时间与日期

In [127]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day

29

In [128]:
dt.minute

30

In [129]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [130]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [131]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [132]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta

datetime.timedelta(days=17, seconds=7179)

In [133]:
type(delta)

datetime.timedelta

In [135]:
dt - delta

datetime.datetime(2011, 10, 12, 18, 30, 42)

## 控制流
### if

In [138]:
x = 10
if x < 0:
    print('It\'s negative')
elif x == 0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')

Positive and larger than or equal to 5

In [139]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print('Made it')

Made it

In [140]:
4 > 3 > 2 > 1

True

### for

In [142]:
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value
total

12

In [146]:
sequence = [1, 3, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value
total_until_5

14

In [147]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

### while

In [150]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2
x, total

(4, 504)

### pass

In [156]:
x = 0
if x < 0:
    print('negative!')
elif x == 0:
    print('zero!')
    pass
else:
    print('positive!')

zero!

### range

In [160]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [161]:
list(range(0, 20, 2)), list(range(5, 0, -1))

([0, 2, 4, 6, 8, 10, 12, 14, 16, 18], [5, 4, 3, 2, 1])

In [163]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    val = seq[i]
val

4

In [397]:
sum_value = 0
for i in range(100000):
    if i % 3 == 0 or i % 5 == 0:
        sum_value += i
sum_value

2333316668

### 三元表达式  Ternary expressions

In [165]:
x = 5
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'

# 内置数据结构及序列
### tuple管道

In [166]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [167]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [168]:
tuple([4, 0, 2])
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [169]:
tup[0]

's'

In [170]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [171]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [172]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [173]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

### unpacking方法：

In [174]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [175]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [178]:
a, b = 1, 2
print('a = {}, b = {}'.format(a,b))
a, b = b, a
print('a = {}, b = {}'.format(a,b))

a = 1, b = 2
a = 2, b = 1

In [179]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [180]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
print('a = {}, b = {}, rest = {}'.format(a,b,rest))

a = 1, b = 2, rest = [3, 4, 5]

In [181]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

## list

In [186]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
print(b_list)
b_list[1] = 'peekaboo'
print(b_list)

['foo', 'bar', 'baz']
['foo', 'peekaboo', 'baz']

In [187]:
gen = range(10)
print(gen)
list(gen)

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### list的元素添加及删除

In [188]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [189]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [190]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [191]:
b_list.append('foo')
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [192]:
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'foo']

In [193]:
'dwarf' in b_list

True

In [194]:
'dwarf' not in b_list

False

### list的堆叠及合并 concatenant & combine

In [195]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [196]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

常用list生成方法
```python
everything = []
for chunk in list_of_lists:
    everything.extend(chunk) #everything = everything + chunk
    ```

### 排序

In [197]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [198]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

### 二元查找

In [205]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2) #if x already appears in the list, i points just beyond the rightmost x already there

4

In [206]:
bisect.insort(c, 4)
c

[1, 2, 2, 2, 3, 4, 4, 7]

### 切分slicing

In [207]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [208]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [209]:
seq[:5], seq[3:]

([7, 2, 3, 6, 3], [6, 3, 5, 6, 0, 1])

In [211]:
seq[-4:], seq[-6:-2]

([5, 6, 0, 1], [6, 3, 5, 6])

In [212]:
seq[::2]

[7, 3, 3, 6, 1]

In [213]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

## 内置序列函数

In [214]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i,v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [215]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [216]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [218]:
seq1 = ['foo', 'bar', 'baz','tea']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [221]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [222]:
for i, (a,b) in enumerate(zip(seq1,seq2)):
    print('{}:{},{}'.format(i,a,b))

0:foo,one
1:bar,two
2:baz,three

In [223]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names

('Nolan', 'Roger', 'Schilling')

In [224]:
for i, (fn, ln) in enumerate(zip(first_names, last_names)):
    print("{0}: {1}, {2}".format(i,fn,ln))

0: Nolan, Ryan
1: Roger, Clemens
2: Schilling, Curt

In [225]:
list(reversed(last_names))

['Curt', 'Clemens', 'Ryan']

In [226]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [228]:
list(reversed(list(range(10))))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## 字典dict

In [229]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [230]:
d1[7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [231]:
d1['b']

[1, 2, 3, 4]

In [232]:
'b' in d1

True

In [234]:
d1[5] = 'some value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [235]:
d1['dummy'] = 'anather value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'anather value'}

In [237]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'anather value'}

In [238]:
ret = d1.pop('dummy')
ret

'anather value'

In [239]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [240]:
list(d1.keys())

['a', 'b', 7]

In [241]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [242]:
d1.update({'b':'foo','c':12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

### 从序列创建字典

In [243]:
mapping = dict(zip(range(5),reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [245]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [247]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [250]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

### 验证字典键类型

In [256]:
hash('string')

1682842331685366600

In [257]:
hash((1,2,(2,3)))

1097636502276347782

In [259]:
hash((1,2,[2,3]))

TypeError: unhashable type: 'list'

In [260]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

### set方法

In [261]:
set([1,2,2,2,3,3,3])

{1, 2, 3}

In [263]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [264]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}
a.union(b) #.intersection

{1, 2, 3, 4, 5, 6, 7, 8}

In [265]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [266]:
a & b

{3, 4, 5}

In [267]:
c = a.copy()
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [268]:
d = a.copy()
d &= b
d

{3, 4, 5}

In [269]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [271]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)

True

In [272]:
a_set.issuperset({1,2,3})

True

In [274]:
{1,2,3} == {3,2,1}

True

In [275]:
[1,2,3] == [3,2,1]

False

## list, set, dict理解

In [276]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [277]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [280]:
set(map(len,strings)) #map将函数分发给数据

{1, 2, 3, 4, 6}

In [282]:
loc_mapping= {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [298]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Emily', 'Javier', 'Natalia', 'Pilar']]

In [299]:
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e')>=2]
    names_of_interest.extend(enough_es)
names_of_interest

['Steven']

In [300]:
result = [name for names in all_data for name in names if name.count('e')>=2]
result

['Steven']

In [301]:
[name for names in all_data for name in names]

['John',
 'Emily',
 'Michael',
 'Mary',
 'Steven',
 'Maria',
 'Juan',
 'Emily',
 'Javier',
 'Natalia',
 'Pilar']

In [302]:
set([name for names in all_data for name in names])

{'Emily',
 'Javier',
 'John',
 'Juan',
 'Maria',
 'Mary',
 'Michael',
 'Natalia',
 'Pilar',
 'Steven'}

In [303]:
some_tuples = [(1,2,3),(4,5,6),(7,8,9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [304]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## 函数

In [305]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [307]:
my_function(5, 6, z=0.7), my_function(3.14, 7, 3.5), my_function(10, 20)

(0.06363636363636363, 35.49, 45.0)

### 命名空间 ，范围及本地函数 namespace, scope and local function

In [313]:
def func():
    a_fun = []
    for i in range(5):
        a_fun.append(i)
    return a_fun
a_fun = func()
a_fun

[0, 1, 2, 3, 4]

In [316]:
a_fun2 = []
def func():
    for i in range(5):
        a_fun2.append(i)
func()
a_fun2

[0, 1, 2, 3, 4]

In [317]:
a = None
def bin_a_variable():
    global a
    a = []
bin_a_variable()
a

[]

### 返回多个值

In [318]:
def f():
    a, b, c = 5, 6, 7
    return a,b,c

In [320]:
x,y,z = f()
x,y,z

(5, 6, 7)

In [321]:
return_value = f()
return_value

(5, 6, 7)

In [322]:
def f():
    a, b, c = 5, 6, 7
    return {'a' : a, 'b' : b, 'c' : c}

### 函数即对象

In [323]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia=', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [336]:
import re
def clean_strings(strings):
    result=[]
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?=]','',value)
        value = re.sub(' +',' ',value)
        value = value.title()
        result.append(value)
    return result

In [337]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [344]:
def remove_punctuation(value):
    value = re.sub('[!#?=]','',value)
    value = re.sub(' +',' ',value)
    return value
clean_ops = [str.strip, remove_punctuation, str.title]
def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in clean_ops:
            value = function(value)
        result.append(value)
    return result
clean_strings(states,clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [347]:
[x for x in map(remove_punctuation,states)]

[' Alabama ',
 'Georgia',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south carolina',
 'West virginia']

## Lambda 函数

In [357]:
def short_func(x):
    return x * 2
equiv_anon = lambda x:x*2

In [359]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]
ints = list(range(10))
apply_to_list(ints, short_func)

[0.0, 2.0, 4.0, 6.0, 8.0, 10.0, 12.0, 14.0, 16.0, 18.0]

In [360]:
apply_to_list(ints, equiv_anon)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [361]:
apply_to_list(ints, lambda x: x * 2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [362]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### partial应用

In [368]:
def add_numbers(x,y):
    return x+y
add_five = lambda y:add_numbers(5,y)

In [370]:
from functools import partial
add_five = partial(add_numbers,5)

In [369]:
apply_to_list(ints,add_five)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

### 生成器

In [371]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [373]:
dict_iterator = iter(some_dict)
list(dict_iterator)

['a', 'b', 'c']

In [374]:
def squares(n=10):
    print('Generating squares from 1 to {}'.format(n**2))
    for i in range(1,n+1):
        yield i**2

In [380]:
gen = squares()
for x in gen:
    print(x,end='--')

Generating squares from 1 to 100
1--4--9--16--25--36--49--64--81--100--

In [381]:
def fab(max): 
    n, a, b = 0, 0, 1 
    while n < max: 
        yield b
        # print b 
        a, b = b, a + b 
        n = n + 1

for n in fab(8): 
    print(n,end='--')

1--1--2--3--5--8--13--21--

### 生成表达式

In [1]:
gen = (x**2 for x in range(100))
gen

In [2]:
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [4]:
sum(gen)

328350

In [5]:
dict((i,i**2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

## 迭代器模块

In [12]:
import itertools
first_letter = lambda x:x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, name in itertools.groupby(names,first_letter):
    print(letter,list(name))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [11]:
itertools.groupby(names,first_letter)

## error及exception处理

In [13]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [14]:
attempt_float('1.2345'), attempt_float('something')

(1.2345, 'something')

In [15]:
attempt_float((1,2))

(1, 2)

In [16]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [17]:
attempt_float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [20]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError,ValueError):
        return x

In [21]:
attempt_float((1,2))

(1, 2)

In [23]:
a = 5
b = 6
assert(a + b == 11)

# 文件及系统操作方法

In [26]:
path = 'data/python_this.txt'
f = open(path)

In [27]:
lines = [x.rstrip() for x in open(path)]
lines

['The Zen of Python, by Tim Peters',
 'Beautiful is better than ugly.',
 'Explicit is better than implicit.',
 'Simple is better than complex.',
 'Complex is better than complicated.',
 'Flat is better than nested.',
 'Sparse is better than dense.',
 'Readability counts.',
 "Special cases aren't special enough to break the rules.",
 'Although practicality beats purity.',
 'Errors should never pass silently.',
 'Unless explicitly silenced.',
 'In the face of ambiguity, refuse the temptation to guess.',
 'There should be one-- and preferably only one --obvious way to do it.',
 "Although that way may not be obvious at first unless you're Dutch.",
 'Now is better than never.',
 'Although never is often better than *right* now.',
 "If the implementation is hard to explain, it's a bad idea.",
 'If the implementation is easy to explain, it may be a good idea.',
 "Namespaces are one honking great idea -- let's do more of those!"]

In [28]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

|  原文  |  中文  |
|-------|--------|
|The Zen of Python, by Tim Peters|	Python之禅 by Tim Peters|
|Beautiful is better than ugly.|	优美胜于丑陋（Python 以编写优美的代码为目标）|
|Explicit is better than implicit.|	明了胜于晦涩（优美的代码应当是明了的，命名规范，风格相似）|
|Simple is better than complex.|	简洁胜于复杂（优美的代码应当是简洁的，不要有复杂的内部实现）|
|Complex is better than complicated.|	复杂胜于凌乱（如果复杂不可避免，那代码间也不能有难懂的关系，要保持接口简洁）|
|Flat is better than nested.|	 扁平胜于嵌套（优美的代码应当是扁平的，不能有太多的嵌套）|
|Sparse is better than dense.|	 间隔胜于紧凑（优美的代码有适当的间隔，不要奢望一行代码解决问题）|
|Readability counts.|	 可读性很重要（优美的代码是可读的）|
|Special cases aren't special enough to break the rules.Although practicality beats purity.|	 即便假借特例的实用性之名，也不可违背这些规则（这些规则至高无上）|
|Errors should never pass silently.Unless explicitly silenced.|	 不要包容所有错误，除非你确定需要这样做（精准地捕获异常，不写 |except:pass 风格的代码）|
|In the face of ambiguity, refuse the temptation to guess.|	 当存在多种可能，不要尝试去猜测|
|There should be one-- and preferably only one --obvious way to do it.|	 而是尽量找一种，最好是唯一一种明显的解决方案（如果不确定，就用穷举法）|
|Although that way may not be obvious at first unless you're Dutch.|	 虽然这并不容易，因为你不是 Python 之父（这里的 Dutch 是指 Guido ）|
|Now is better than never.Although never is often better than *right* now.|	 做也许好过不做，但不假思索就动手还不如不做（动手之前要细思量）|
|If the implementation is hard to explain, it's a bad idea.If the implementation is easy to explain, it may be a good idea.|	如果你无法向人描述你的方案，那肯定不是一个好方案；反之亦然（方案测评标准）|
Namespaces are one honking great idea -- let's do more of those!|	 命名空间是一种绝妙的理念，我们应当多加利用（倡导与号召）|

In [29]:
f.close()

In [32]:
with open(path) as f:
    lines = [x.strip() for x in f]
lines[0]

'The Zen of Python, by Tim Peters'

In [38]:
f = open(path)
f.read(10)

'The Zen of'

In [39]:
f2 = open(path,'rb') #Binary mode
f2.read(10)

b'The Zen of'

In [42]:
import sys
sys.getdefaultencoding()

'utf-8'

In [43]:
f.seek(3)

3

In [48]:
f.read(3)

' Py'

In [50]:
with open('tmp.txt','w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)
with open('tmp.txt') as f:
    lines = f.readlines()
lines

['The Zen of Python, by Tim Peters\n',
 'Beautiful is better than ugly.\n',
 'Explicit is better than implicit.\n',
 'Simple is better than complex.\n',
 'Complex is better than complicated.\n',
 'Flat is better than nested.\n',
 'Sparse is better than dense.\n',
 'Readability counts.\n',
 "Special cases aren't special enough to break the rules.\n",
 'Although practicality beats purity.\n',
 'Errors should never pass silently.\n',
 'Unless explicitly silenced.\n',
 'In the face of ambiguity, refuse the temptation to guess.\n',
 'There should be one-- and preferably only one --obvious way to do it.\n',
 "Although that way may not be obvious at first unless you're Dutch.\n",
 'Now is better than never.\n',
 'Although never is often better than *right* now.\n',
 "If the implementation is hard to explain, it's a bad idea.\n",
 'If the implementation is easy to explain, it may be a good idea.\n',
 "Namespaces are one honking great idea -- let's do more of those!"]

## 变更编码

In [51]:
path2 = 'data/segismundo.txt'
with open(path2) as f:
    chars = f.read(10)
chars

'Sue帽a el r'

In [52]:
with open(path2,'rb') as f:
    data = f.read(10)
data

b'Sue\xc3\xb1a el '

In [53]:
data.decode('utf8')

'Sueña el '